# Dependencies
node_modules/
jspm_packages/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs

# macOS
.DS_Store
*.pem

# Local env
.env
.env.*
.env*.local
!.env.example

# TypeScript
*.tsbuildinfo

# Build / cache
build/
.cache
.parcel-cache
.next
out
.nuxt
